---
layout: default
---





<div id="ww">
      <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <img class="my-circle" src="selfie2.jpg" alt="Anvesh">
          <h1>Hi, I am Anvesh!</h1>
          <p>Hello everybody. I'm Anvesh, a Ruby-on-Rails, full-stack developer.</p>
          <p>I spend my days with my hands in many different areas of web development from back end programming (Ruby on Rails) to front end engineering (HTML, CSS, and jQuery/Javascript), user experience </p>
        
        </div><!-- /col-lg-8
      </div><!/row -->
      </div> <!-- /container -->
  </div><!-- /ww --> 


{% include projects.html %}


{% include me.html %}
  <!-- 
}
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
 -->