<section class="container" >

<p> Me </p>
    <div class="row mt centered"> 

    <hr>
      <div class="col-lg-4">
        <a class="zoom green" href="/education/"><img class="img-responsive" src="/edu.jpg" alt="" /></a>
        <p>Education</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="/photography/"><img class="img-responsive" src="/selfie.jpg" alt="" /></a>
        <p>Photography</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="/contact/"><img class="img-responsive" src="/contact.jpg" alt="" /></a>
        <p>Contact</p>
      </div>
    </div><!-- /row -->

    </section>