<section class="container pt">
<p> My Projects </p>
    <div class="row mt centered"> 
    <hr>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="/sb.jpg" alt="" /></a>
        <p>Swach Bharath</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="work01.html"><img class="img-responsive" src="/flames.jpg" alt="" /></a>
        <p>Flames</p>
      </div>
      <div class="col-lg-4">
        <a class="zoom green" href="/work"><img class="img-responsive" src="/more.jpg" alt="" /></a>
        <p>More....</p>
      </div>
    </div><!-- /row -->

</section>
